.Hero{

}

.layingHero{
  width:1059px;
  position:absolute;
  top:510px;
  left:287px;
  height:331px;
  background-color:#FF5E14;
  display:flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.layingHero div{
  width:354px;
  height:331px;
  text-align:center;
}
.layingHero div:nth-child(1){
  background-image:url('../public/images/donateImage.jpg');
  background-size:354px 331px;
  background-repeat:no-repeat;
  background-clip: content-box;
}
.layingHero div:nth-child(2){
  background-image:url('../public/images/volunteerImage.jpg');
  background-size:354px 331px;
  background-repeat:no-repeat;
  background-clip: content-box;
}
.layingHero div:nth-child(3){
  background-image:url('../public/images/fundRaisong.png');
  background-size:354px 331px;
  background-repeat:no-repeat;
  background-clip: content-box;
}
.layingHero div h3{
  color:#FF5E14;
  opacity:90%;
  font-family:Inter;
  font-weight:900px;
  text-align:center;
  font-size:25px;
  line-height:30px;
  text-shadow: 2px 2px 5px red;
}

.stats{
  position:absolute;
  top:846px;
  left:104px;
  height:399px;
  width:1370px;
  display:flex;
  flex-direction:column;
}
.text1{
  color:black;
  font-size:30px;
  font-weight:700px;
  font-style:normal;
  font-family:'Inter';
  text-align:center;
}
.text1 b{
  color:#FF5E14;
}
.stats div:nth-child(2){
  width:469px;
  word-wrap: break-word;
  color:#FF5E14;
  font-weight:700px;
  line-height:36px;
  font-family:Inter;
}
.stats q{
  color:black;
}
.stats button{
  padding:10px;
  border-radius:10px;
  border:1px solid transparent;
  background-color:#FF5E14;
  color:white;
  font-family:inter;
  width:140px;
}
.stats div:nth-child(3){
  position:absolute;
  left:881px;
  top:130px;
}
.stats div:nth-child(4){
  background-color:white;
  position:absolute;
  left:790px;
  top:280px;
  width:631px;
  height:200px;
}
.statBlock{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.stats div:nth-child(4) progress{
  padding:10px;
  background-color:#FF5E14;
}

.third{
  position:absolute;
  width:1512px;
  height:230px;
  top:1320px;
  display:flex;
  background-color:rgba(100,100,50,0.2);
}
.third > div{
  background-color:white;
  width:310px;
  height:329px;
  margin-left:157px;
  margin-top:61px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart{
  width:873px;
  position:absolute;
  left:384px;
  height:406px;
  top:1770px;
}

.staff{
  position:absolute;
  top:2285px;
  left:120px;
  width:1368.24px;
  height:500px;
  background-color:white;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.staff div{
  background-color:#FF5E14;
  width:384px;
  height:250px;
  filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25)) ;
}
.staff div::before{
  content:"";
  position:absolute;
  border:10px solid;
  margin-top:-8px;
  top:50%;
  right:100%;
  border-color:transparent #FF5E14 transparent transparent;
  filter:drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
}
.staff section{
  margin-left:400px;
  margin-top:10px;
  display:flex;
  flex-direction:row;
}
.staff h4{
  font-style:Inter;
  color:white;
  font-size:30px;
  word-wrap:break-word;
  text-align:center;
}

.weDo{
  width:100%;
  background-color:white;
  position:absolute;
  top:2850px;
  left:14px;
}
.weDo h3{
  color:#FF5E14;
  font-size:45px;
  font-weight:800;
  line-height:34px;
  margin-left:157px;
  font-family:'Inter';
}
.weDo .text2{
  color:black;
  font-size:25px;
  font-family:'Inter';
  font-weight:800;
  line-height:16px;
  margin-left:97px;
  text-decoration:none !important;
}
.weDo  h4{
  font-weight:800;
  text-decoration:underline;
}
.weDo article{
  width:200px;
  height:250px;
  word-wrap:break-word;
  font-family:'Inter';
  background-color:white;
  text-overflow:ellipsis;
  padding:10px;

}
.weDo .container{
  background-color:white;
  width:850px;
  display:grid;
  gap:10px;
  grid-template-columns:auto auto;
  grid-template-rows:auto 260px;
  justify-content:space-around;
}
.weDo .item5{
  position:absolute;
  right:60px;
}

