
.swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    flex-direction:column;
    border-radius: 18px;
    padding-left:3px;
    padding-right:3px;
  }

  .swiper-slide:nth-child(1n) {
    background-color: rgba(255,255,255);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgba(225,255,255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgba(255,255,255);
  }